/*
------------------------------------------------------------------------
---------------------- Responsive StyleSheet------------------------
------------------------------------------------------------------------
*/
/*Extra Large Device*/
@media all and (max-width:1100px){
        /*Header*/
        .menu ul li {
            margin-left: 3.4rem;
        }
}

/*Large Device*/
@media all and (max-width:991px){
    /*header*/
    .menu ul {
        display: none;
        position: absolute;
        width: 100%;
        height: 100vh;
        background: #e2e2e3;
        top: 100%;
        left: 0;
        flex-direction: column;
        justify-content: start;
        align-items: flex-start;
        z-index: 9999;
        padding: 2rem 0;
    }
    .menu ul li {
        margin-bottom: 2rem;
    }
    .login {
        display: none;
    }
    .bars-icon{
        display:block
    }

    /*Banner*/
    .banner-right {
        margin-left: 10rem;
    }
    .banner-left h1 {
        font-size: 5rem;
    }
    /*Service*/
    .single-service img {
        padding-bottom: 1rem;
    }
    .single-service {
        padding-top: 3rem;
        padding-left: 2rem;
    }
}
/*medium  Device*/
@media all and (max-width:870px){
    /*header*/
    .menu ul li {
        margin-left: 2rem;
    }

    /*Banner*/
    .banner-left h1 {
        font-size: 6rem;
    }
    #banner .row{
        flex-wrap: wrap;
        justify-content: center;
    }
    .banner-left{
        width: 100%;
    }
    .banner-left h6 {
        padding-bottom: 6rem;
    }
    .banner-left .apply-btn {
        display: block;
        margin: auto;
    }
    /*Service*/
    .single-service{
        width: 50%;
    }
    /*About*/
    .about-text-info {
        width: 100%;
        margin-bottom: 3rem;
    }
    .about-photo {
        width: 100%;
    }
    .about-counter {
        width: 95%;
        top: 80%;
        left: 1.3rem;
    }
}
/*medium Device*/
@media all and (max-width:768px){
        /*Banner*/
        .banner-left h1 {
            padding-right: 5rem;
        }
        .banner-right {
            margin-left: 0;
        }
        .text-content h2 {
            font-size: 4rem;
        }
        /*about*/
        .about-text-info h2 {
            font-size: 5rem;
            margin-bottom: 1rem;
        }
}
/*small Device*/
@media all and (max-width:576px){
    /*banner*/
    .banner-left h1 {
        font-size: 5rem;
        line-height: 7rem;
        padding-right:0;
    }
    #banner {
        padding: 5rem 0 2.4rem;
    }
    .banner-left h6 {
        padding-bottom: 3rem;
    }
    .banner-left p {
        padding-right: 0;
    }
    .banner-right {
        padding-top: 8rem;
    }
    .text-content h2 {
        font-size: 3.5rem;
    }
    /*service*/
    .single-service {
        width: 100%;
    }
    #about {
        padding: 6rem 0 15rem;
    }
    /*applay*/
    .apply-info h4 {
        font-size: 3.2rem;
        line-height: 4.4rem;
    }
    .apply-info p {
        font-size: 1.6rem;
        line-height: 2.5rem;
        padding: 1.5rem 0 3rem;
    }
    .apply-info button {
        font-size: 2rem;
    }
}
/*Extra small Device*/
@media all and (max-width:400px){
    /*banner*/
    .banner-left h1 {
        font-size: 4rem;
        line-height: 6rem;
    }
    /*service*/
    .single-service {
        margin-bottom: 1rem;
    }
    /*about*/
    .about-text-info h2 {
        font-size: 4rem;
        margin-bottom: 0;
        padding-top: .5rem;
    }
    .about-text-info p {
        margin-bottom: 3.4rem;
        padding-right: 0;
    }

    /*applay*/
    .apply-info h4 {
        font-size: 2.5rem;
    }
}

/*Show navbar on large device*/
@media all and (min-width:992px){
    /*header*/
    .menu ul{
        display: flex;
    }
}