/*
------------------------------------------------------------------------
--------------------- Reset Default Styles ----------------------------
------------------------------------------------------------------------
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
    font-family: 'Open Sans', sans-serif;
    background: #fff;
}
/*
------------------------------------------------------------------------
------------------------- Reusable CSS-------------------------------
------------------------------------------------------------------------
*/
img{
    max-width: 100%;
    height: auto;
}
.lg-container{
    max-width: 1920px;
    width: 100%;
    margin: auto;
    padding-left: 1.5rem;
    padding-right:1.5rem;
}
.container{
    max-width: 1300px;
    width: 100%;
    margin: auto;
    padding-left: 1.5rem;
    padding-right:1.5rem;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
a,a:hover{
    text-decoration: none;
}
ul{
    list-style-type: none;
}
.btn{
    border: none;
    outline: none;
}
/*
------------------------------------------------------------------------
----------------------- Header Section Style -------------------------
------------------------------------------------------------------------
*/
#header-section{
    position: relative;
    width: 100%;
    min-height: 8rem;
    display: flex;
    align-items: center;
}
#header-section .row{
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 15%;
}
.logo img{
    width: 10rem;
    padding: 1rem 0;
    object-fit: contain;
}
.menu{
    width: 74%;
    margin-right: 1%;
}
.menu ul{
    display: flex;
    justify-content: flex-end;
}
.menu ul li{
    position: relative;
    margin-left: 4.4rem;
}
.menu ul li::after{
    position: absolute;
    content: "";
    top: 100%;
    left: 0;
    width:0%;
    height: .2rem;
    background: #FA5E01;

}
.menu ul li:hover::after{
    width: 100%;
    transition: .2s ease-in;
}
.menu ul li a{
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 2.5rem;
    color: #25201D;
}
.menu ul li a.active{
    color: #FA5E01;
}
.login{
    width: 10%;
}
.login-content{
    position: absolute;
    top: 0;
    left: 85%;
    width: 20rem;
    height: 12rem;
    text-align: center;
    background-image: url("../images/header/login-rectangle.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center top;
    cursor: pointer;
}
.login-content img{
    width: 3rem;
    object-fit: cover;
    padding-top: 1rem;
}
.login-content span{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 2.2rem;
    line-height: 3.8rem;
    color: #FFFFFF;
    padding: 0 1rem;
}

/*
------------------------------------------------------------------------
----------------------- Banner Section Style -------------------------
------------------------------------------------------------------------
*/
#banner{
    width: 100%;
    padding: 8rem 0 2.4rem;
    /* background: linear-gradient(0deg, rgba(52, 42, 37, 0.7), rgba(52, 42, 37, 0.7)), url("../images/banner/banner-bg.png"); */
    background:url("../images/banner/banner-bg.png") no-repeat;
    background-size: cover;
    background-position: center center;
}
.banner-left{
    width: 50%;
}
.banner-left h6,
.banner-left h1,
.banner-left p,
.banner-left .apply-btn{
    font-family: 'Open Sans';
    color: #FFFFFF;
}
.banner-left h6{
    position: relative;
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 1.9rem;
    text-transform: uppercase;
    padding-bottom: 12rem;
}
.banner-left h6::before{
    position: absolute;
    content: "";
    top: -.8rem;
    left: 0;
    width: 3.4rem;
    height: .2rem;
    background: #FFFFFF;

}
.banner-left h1{
    font-weight: 700;
    font-size: 8rem;
    line-height: 9rem;
    padding-bottom: 3rem;
}
.banner-left p{
    font-weight: 600;
    font-size: 2.6rem;
    line-height: 4rem;
    padding-right: 2rem;
    padding-bottom: 5.4rem;
}
.banner-left .apply-btn{
    font-weight: 600;
    font-size: 2rem;
    line-height: 4.8rem;
    padding:1.1rem 5.5rem ;
    cursor: pointer;
    background: #FA5E01;
    border: .2rem solid transparent;
}
.banner-left .apply-btn:hover{
    color: #FA5E01;
    background: #FFFFFF;
    border: .2rem solid #FA5E01;
}
.banner-right{
    padding-top: 14rem;
    margin-left: 20rem;
}
.banner-right .play-btn{
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    text-align: center;
    margin-right: 2.4rem;
    background: #FA5E01;
    cursor: pointer;
}
.text-content h5,
.text-content h2, 
.text-content p{
    font-family: 'Open Sans';
    font-style: normal;
    color: #FFFFFF;
}
.text-content h5{
    font-weight: 600;
    font-size: 2.8rem;
    line-height: 3.8rem;
}
.text-content h2{
    font-weight: 700;
    font-size: 4.4rem;
    line-height: 5rem;
    padding: .8rem 0;
    text-transform: uppercase;
}
.text-content p{
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 1.9rem;
    text-transform: uppercase;
}
.slider-indecator{
    width: 100%;
    padding-top: 6.6rem;
    text-align: center;
}
.slider-indecator ul{
    display: flex;
    justify-content: center;
}
.slider-indecator ul li{
    width: 3rem;
    height: .3rem;
    margin: 0 1.2rem;
    background:#FFFFFF;
}
.slider-indecator ul li.active{
    background: #FA5E01;;
}

/*
------------------------------------------------------------------------
----------------------- Service Section Style -------------------------
------------------------------------------------------------------------
*/
#services{
    width: 100%;
}
#services .lg-container{
    padding-right: 0;
}
#services .row{
    justify-content: space-between;
}
.single-service{
    width: 25%;
    padding-top: 5rem;
    padding-left: 3rem;
}
.single-service:nth-child(even){
    background: #FA5E01;
}
.single-service img{
    width: 5rem;
    padding-bottom: 5rem;
}
.single-service p{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    line-height: 36px;
    color: #25201D;
    padding-right: 2rem;
}
.single-service:nth-child(even) p{
   color: #FFFFFF;
}
/*
------------------------------------------------------------------------
----------------------- About Section Style -------------------------
------------------------------------------------------------------------
*/
#about{
    position: relative;
    width: 100%;
    padding: 20rem 0;
}
.about-text-info{
    width: 50%;
}
.about-text-info h2{
    position: relative;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 6rem;
    line-height: 8.2rem;
    color: #25201D;
    margin-bottom: 4rem;
    padding-top: 2rem;
    text-transform: capitalize;
}
.about-text-info h2::before{
    position: absolute;
    content: "";
    top:0;
    left: 0;
    width: 15rem;
    height: .5rem;
    background: #FA5E01;
}

.about-text-info p{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 2.2rem;
    line-height: 3.4rem;
    color: #000000;
    margin-bottom: 5.4rem;
    padding-right: 4rem;
}
.about-text-info .learn-more-btn{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 2.4rem;
    line-height: 4.8rem;
    color: #FA5E01;
    padding: 1rem 5rem;
    background: #FFFFFF;
    border: .2rem solid #FA5E01;
    text-transform: capitalize;
}
.about-text-info .learn-more-btn:hover{
    color: #FFFFFF;
    cursor: pointer;
    background: #FA5E01;
    border: .2rem solid transparent;
}
.about-photo{
    position: relative;
    width: 50%;
}
.about-photo img{
    position: relative;
    width: 100%;
}
.about-counter{
    position: absolute;
    width: 75rem;
    top: 70%;
    left: -30%;
    padding: 4rem 10rem;
    background: #FFF9F5;
}
.about-counter .row{
    justify-content: space-between;
}
.single-count h3{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 6rem;
    line-height: 8.2rem;
    color: #25201D;
}
.single-count p{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 2.5rem;
    color: #25201D;
    text-align: center;
}

/*
------------------------------------------------------------------------
----------------------- Apply  Section Style -------------------------
------------------------------------------------------------------------
*/
#apply-fall{
    max-width: 90rem;
    width: 100%;
    margin:0 auto;
    padding: 3.5rem ;
    background: #FA5E01;
}
.apply-info{
    width: 100%;
}
.apply-info h4{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 4rem;
    line-height: 5.4rem;
    color: #FFFFFF;
}
.apply-info p{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.5rem;
    color: #FFFFFF;
    padding: 1.5rem 0 4rem;
}
.apply-info button{
    width: 19.5rem;
    height: 5.5rem;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 2.2rem;
    line-height: 4.8rem;
    color: #FA5E01;
    background: #FFFFFF;
    cursor: pointer;
    box-shadow: 0 .4rem 1.5rem rgba(0, 0, 0, 0.15);
}
.apply-info button:hover{
    color:  #FFFFFF;
    background: #FA5E01;
    border: .2rem solid #FFFFFF;
    box-shadow: 0 .4rem 1.5rem rgba(0, 0, 0, 0.15);
}

/*
------------------------------------------------------------------------
--------------------- Testimonial  Section Style ----------------------
------------------------------------------------------------------------
*/
#testimonial{
    width: 100%;
    margin: 20rem auto 10rem;
    padding: 5rem  0;
    background: #FFF9F5;
}

.testimonial-photo{
    width: 45%;
}
.testimonial-photo img{
    width: 98%;
    height: 50rem;
    margin-top: -15rem;
    object-fit: cover;
}
.testimonial-text{
    width: 52%;
    margin-left: 3%;
}
.testimonial-text h4{
    position: relative;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 4rem;
    line-height: 6.8rem;
    color: #25201D;
    padding-top: .5rem;
}
.testimonial-text h4::before{
    position: absolute;
    content: "";
    top:0;
    left: 0;
    width: 15rem;
    height: .5rem;
    background: #FA5E01;
}
.testimonial-text p{
    font-family: 'Times New Roman';
    font-style: italic;
    font-weight: 400;
    font-size: 2.5rem;
    line-height: 3.6rem;
    color: #25201D;
    padding: 4rem 0 2.5rem;
}
.testimonial-text h5{
    position: relative;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 3.4rem;
    line-height: 4.6rem;
    color: #25201D;
    margin-left: 10rem;
    text-transform: capitalize;
}
.testimonial-text h5::before{
    position: absolute;
    content: "";
    top:60%;
    left: -9.5rem;
    width: 7rem;
    height: .1rem;
    background: #25201D;
}
.testimonial-text span{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 30px;
    color: #FA5E01;
    margin-left: 10rem;
}
/*
------------------------------------------------------------------------
--------------------- Testimonial  Section Style ----------------------
------------------------------------------------------------------------
*/
#teachers{
    width: 100%;
}
#teachers .row{
    justify-content: space-between;
}
.teacher-heading{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5rem;
}
.teacher-heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.teacher-heading .title{
    width: 50%;
}
.teacher-heading .title h3{
    position: relative;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 6rem;
    line-height: 8.2rem;
    color: #25201D;
}
.teacher-heading .title h3::before{
    position: absolute;
    content: "";
    top:0;
    left: 0;
    width: 15rem;
    height: .5rem;
    background: #FA5E01;
}
.teacher-slider-indecator{
    width: 50%;
    display: flex;
   justify-content: flex-end;
}
.teacher-slider-indecator .left-arrow,
.teacher-slider-indecator .right-arrow{
    width: 8.2rem;
    height: 8.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
    border: .1rem solid #E3E2E1;
    cursor: pointer;
}
.single-teacher{
    width: 32%;
    margin-right: 1%;
    transition: .5s ease-in;
    margin-bottom:1rem;
}
.img-content{
    width: 100%;
    height: 40rem;
    position: relative;
}
.img-content img{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: .3s ease-in;
    background: linear-gradient(180deg, rgba(250, 94, 1, 0) 0%, rgba(250, 94, 1, 0.6) 100%)
}
.single-teacher:hover .overlay{
    opacity: 1;
    visibility: visible;
}
.overlay .social{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    padding-bottom: 2rem;
}
.overlay .social li{
  margin-left: 3rem;
}
.overlay .social li a img{
    width: 4.8rem;
}
.single-teacher:last-child{
    margin-right:0;
}
.single-teacher h4{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 3.4rem;
    line-height: 4.6rem;
    color: #25201D;
    padding: 2rem 0 1rem;
    text-transform: capitalize;
}
.single-teacher p{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.5rem;
    color: #41403F;
    text-transform: capitalize;
}
#teachers .see-more-btn{
    width: 100%;
    margin-top: 7rem;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 3.4rem;
    line-height: 4.6rem;
    cursor: pointer;
    letter-spacing: .2rem;
    color: #FA5E01;
    background: #FFF9F5;
    text-transform: uppercase;
    padding: 4.5rem 2rem;
}

#footer-section{
    width: 100%;
    margin-top: 20rem;
    padding: 7rem 2rem;
    background: #FA5E01;
}
#footer-section .row{
    justify-content: space-between;
}
.single-footer{
    margin-left: 1%;
}
#footer-section .left {
    width: 35%;
}
#footer-section .left p{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.8rem;
    color: #FFFFFF;
}
#footer-section .left .info{
    display: flex;
    margin: 4rem 0 1rem;
}
#footer-section .left .info img{
    width:2rem;
    height: 2.1rem;
    margin-top:.6rem;
    margin-right: 1.6rem;
}
#footer-section .left .info p{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 2.2rem;
    line-height: 2.8rem;
    color: #FFFFFF;
}
#footer-section .middle{
    width: 31%;
    display: flex;
    justify-content: center;
}
#footer-section .middle ul li{
    margin-bottom: 2.4rem;
}
#footer-section .middle ul li a{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 2.2rem;
    line-height: 2.8rem;
    color: #FFFFFF;

}
.follow-us{
    width: 31%;
}
.follow-us h4{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 3rem;
    line-height: 2.8rem;
    color: #FFFFFF;
    margin-bottom: 2.4rem;
}
.follow-us ul{
    display: flex;
    align-items: center;
}
.follow-us ul li{
    margin-right: 2.4rem;
}
.follow-us ul li a img{
   width: 4.8rem;
   margin-bottom: 4.8rem;
}
.follow-us .copywright{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 2.2rem;
    line-height: 2.8rem;
    color: #FFFFFF;
}