/*
------------------------------------------------------------------------
--------------------- Reset Default Styles ----------------------------
------------------------------------------------------------------------
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
    font-family: 'Open Sans', sans-serif;
    background: #fff;
}
/*
------------------------------------------------------------------------
------------------------- Reusable CSS-------------------------------
------------------------------------------------------------------------
*/
img{
    max-width: 100%;
    height: auto;
}
.lg-container{
    max-width: 1920px;
    width: 100%;
    margin: auto;
    padding-left: 1.5rem;
    padding-right:1.5rem;
}
.container{
    max-width: 1300px;
    width: 100%;
    margin: auto;
    padding-left: 1.5rem;
    padding-right:1.5rem;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
a,a:hover{
    text-decoration: none;
}
ul{
    list-style-type: none;
}
.btn{
    border: none;
    outline: none;
}
/*
------------------------------------------------------------------------
----------------------- Header Section Style -------------------------
------------------------------------------------------------------------
*/
#header-section{
    position: relative;
    width: 100%;
    min-height: 8rem;
    display: flex;
    align-items: center;
}
#header-section .row{
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 15%;
}
.logo img{
    width: 10rem;
    padding: 1rem 0;
    object-fit: contain;
}
.menu{
    width: 74%;
    margin-right: 1%;
}
.menu ul{
    display: flex;
    justify-content: flex-end;
}
.menu ul li{
    position: relative;
    margin-left: 4.4rem;
}
.menu ul li::after{
    position: absolute;
    content: "";
    top: 100%;
    left: 0;
    width:0%;
    height: .2rem;
    background: #FA5E01;

}
.menu ul li:hover::after{
    width: 100%;
    transition: .2s ease-in;
}
.menu ul li a{
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 2.5rem;
    color: #25201D;
}
.menu ul li a.active{
    color: #FA5E01;
}
.login{
    width: 10%;
}
.login-content{
    position: absolute;
    top: 0;
    left: 85%;
    width: 20rem;
    height: 12rem;
    text-align: center;
    background-image: url("../images/header/login-rectangle.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center top;
    cursor: pointer;
}
.login-content img{
    width: 3rem;
    object-fit: cover;
    padding-top: 1rem;
}
.login-content span{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 2.2rem;
    line-height: 3.8rem;
    color: #FFFFFF;
    padding: 0 1rem;
}

/*
------------------------------------------------------------------------
----------------------- Banner Section Style -------------------------
------------------------------------------------------------------------
*/
#banner{
    width: 100%;
    min-height: 100vh;
    padding: 8rem 0 2.4rem;
    /* background: linear-gradient(0deg, rgba(52, 42, 37, 0.7), rgba(52, 42, 37, 0.7)), url("../images/banner/banner-bg.png"); */
    background:url("../images/banner/banner-bg.png") no-repeat;
    background-size: cover;
    background-position: center center;
}
.banner-left{
    width: 50%;
}
.banner-left h6,
.banner-left h1,
.banner-left p,
.banner-left .apply-btn{
    font-family: 'Open Sans';
    color: #FFFFFF;
}
.banner-left h6{
    position: relative;
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 1.9rem;
    text-transform: uppercase;
    padding-bottom: 12rem;
}
.banner-left h6::before{
    position: absolute;
    content: "";
    top: -.8rem;
    left: 0;
    width: 3.4rem;
    height: .2rem;
    background: #FFFFFF;

}
.banner-left h1{
    font-weight: 700;
    font-size: 8rem;
    line-height: 9rem;
    padding-bottom: 3rem;
}
.banner-left p{
    font-weight: 600;
    font-size: 2.6rem;
    line-height: 4rem;
    padding-right: 2rem;
    padding-bottom: 5.4rem;
}
.banner-left .apply-btn{
    font-weight: 600;
    font-size: 2rem;
    line-height: 4.8rem;
    padding:1.1rem 5.5rem ;
    cursor: pointer;
    background: #FA5E01;
    border: .2rem solid transparent;
}
.banner-left .apply-btn:hover{
    color: #FA5E01;
    background: #FFFFFF;
    border: .2rem solid #FA5E01;
}
.banner-right{
    padding-top: 14rem;
    margin-left: 20rem;
}
.banner-right .play-btn{
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    text-align: center;
    margin-right: 2.4rem;
    background: #FA5E01;
    cursor: pointer;
}
.text-content h5,
.text-content h2, 
.text-content p{
    font-family: 'Open Sans';
    font-style: normal;
    color: #FFFFFF;
}
.text-content h5{
    font-weight: 600;
    font-size: 2.8rem;
    line-height: 3.8rem;
}
.text-content h2{
    font-weight: 700;
    font-size: 4.4rem;
    line-height: 5rem;
    padding: .8rem 0;
    text-transform: uppercase;
}
.text-content p{
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 1.9rem;
    text-transform: uppercase;
}
.slider-indecator{
    width: 100%;
    padding-top: 6.6rem;
    text-align: center;
}
.slider-indecator ul{
    display: flex;
    justify-content: center;
}
.slider-indecator ul li{
    width: 3rem;
    height: .3rem;
    margin: 0 1.2rem;
    background:#FFFFFF;
}
.slider-indecator ul li.active{
    background: #FA5E01;;
}

/*
------------------------------------------------------------------------
----------------------- Service Section Style -------------------------
------------------------------------------------------------------------
*/
#services{
    width: 100%;
}
#services .row{
    justify-content: space-between;
}
.single-service{
    width: 25%;
    padding-top: 5rem;
    padding-left: 3rem;
}
.single-service:nth-child(even){
    background: #FA5E01;
}
.single-service img{
    width: 5rem;
    padding-bottom: 5rem;
}
.single-service p{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    line-height: 36px;
    color: #25201D;
    padding-right: 2rem;
}
.single-service:nth-child(even) p{
   color: #FFFFFF;
}